section.content-section.interes-section
	.container
		h2.g-title.g-title--center
			span Выберите 
			span интересующие направления

		nav.nav.nav-tabs.interes-type(role='tablist')
			a(data-toggle='tab' href='#interes-1' role='tab' aria-controls='interes-1' aria-selected='false').interes-type
				img(src="web/images/general/interest/i1.jpg", alt="")
				| Для тех кто растет
				.tick
					+icon('tick')

			a(data-toggle='tab' href='#interes-2' role='tab' aria-controls='interes-2' aria-selected='false').interes-type
				img(src="web/images/general/interest/i2.jpg", alt="")
				| Для тех кто растит
				.tick
					+icon('tick')

		.tab-content
			-for(let i = 0; i < 2; i++)
				.tab-pane.fade(role='tabpanel' id=`interes-${i + 1}`)
					nav.nav.nav-tabs.interes-category(role='tablist')
						+interesItemBtn('1', `item-${i + 1}-1`, 'Ранний возраст')
						+interesItemBtn('2', `item-${i + 1}-2`, 'Младшие дошкольники')
						+interesItemBtn('3', `item-${i + 1}-3`, 'Старшие дошкольники')
						+interesItemBtn('4', `item-${i + 1}-4`, 'Младшие школьники и подростки')
						+interesItemBtn('5', `item-${i + 1}-5`, 'Школьники')
						+interesItemBtn('6', `item-${i + 1}-6`, 'Особые дети')

					.tab-content
						-for(let j = 0; j < 6; j++)
							.tab-pane.fade.interes-category-links(role='tabpanel' id=`item-${i + 1}-${j + 1}`)
								+interesLink('1', 'Познавательное развитие')
								+interesLink('2', 'Физическое развитие')
								+interesLink('3', 'Художественно-эстетическое развитие')
								+interesLink('4', 'Социально-коммуникативное развитие')
								+interesLink('5', 'Речевое развитие')
								+interesLink('6', 'Электронная библиотека')
								+interesLink('7', 'Развивающие игры В.В. Воскобовича')
